<section id="about" class="py-5 bg-light text-dark">
    <div class="container py-5">
        <div class="row align-items-center py-5">
            <div class="col-md-5 mb-4 mb-md-0">
                <div
                    class="bg-secondary text-white d-flex align-items-center justify-content-center rounded shadow overflow-hidden profile-img-container">
                    <img class="profile-img" [src]="image" alt="Profile Image">
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="display-4 fw-bold mb-4">About Me</h2>
                <p class="lead">
                    I am Ebrahim Mostafa, a passionate web developer dedicated to building user-centric applications.
                </p>

                <h4 class="mt-4 border-bottom pb-2">Education</h4>
                <div class="mb-3">
                    <h5 class="fw-bold">Information Technology Institute (ITI)</h5>
                    <p class="text-muted">Frontend Development Diploma</p>
                </div>
                <div class="mb-3">
                    <h5 class="fw-bold">Bachelor's Degree</h5>
                    <p class="text-muted">Faculty of Engineering, Benha University, Computer Engineering Department</p>
                </div>


                <h4 class="mt-4 border-bottom pb-2">Experience</h4>
                <div class="mb-3">
                    <h5 class="fw-bold">Frontend Developer</h5>
                    <p class="text-muted">Built responsive web applications using Angular, React, and Bootstrap. Focused
                        on creating seamless user experiences and optimizing performance.</p>
                </div>

                <div class="mt-4">
                    <a href="https://drive.google.com/file/d/1rUTAuXOb2JJqFJIRGJjStkaL_DKFGV1L/view?usp=sharing"
                        target="_blank" class="btn btn-dark">Download CV</a>
                </div>
            </div>
        </div>
    </div>
</section>