<header id="home" class="vh-100 d-flex align-items-center justify-content-center bg-dark text-white text-center">
    <div class="container">
        <h1 class="display-1 fw-bold mb-3">Hello, I'm {{ name }}</h1>
        <p class="lead mb-4">Web Developer | Frontend Specialist | Creative Thinker</p>
        <a href="#projects" class="btn btn-primary btn-lg px-4 me-3">View My Work</a>
        <a href="https://drive.google.com/file/d/1rUTAuXOb2JJqFJIRGJjStkaL_DKFGV1L/view?usp=sharing" target="_blank"
            class="btn btn-outline-light btn-lg px-4">Download CV</a>
    </div>
</header>